In [45]:
import pandas as pd
import numpy as np
addedFile = pd.read_csv("2_4_bert_Simplified_education_1.tsv", sep = '\t')
baseFile = pd.read_csv("merge2_1-3.tsv", sep='\t')

def lenless1(row):
    if len(row)==1:
        return False
    else:
        return True
addedFile['split'] = addedFile['entity_text'].apply(lenless1, 1)
addedFile = addedFile[addedFile['split']]
addedFile = addedFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']]

addedID = addedFile['article_id']
addedSP, addedEP = addedFile['start_position'], addedFile['end_position']
addedTxt = addedFile['entity_text']
addedType = addedFile['entity_type']

baseID = baseFile['article_id']
baseSP, baseEP = baseFile['start_position'], baseFile['end_position']
baseTxt = baseFile['entity_text']
baseType = baseFile['entity_type']
print(addedFile)

   article_id  start_position  end_position entity_text entity_type
0          25             647           651        高雄大學   education
1          25             652           655         法律系   education
2          87              60            64        交通大學   education

In [46]:
deleteIndex = []
count = 0

for i in range(len(addedFile)):
    for j in range(count, len(baseFile)):
        if addedID[i] == baseID[j] and addedSP[i] == baseSP[j] and addedEP[i] == baseEP[j]:
            deleteIndex.append(i)
            count += 1
            break;

In [47]:
filterFile = addedFile.drop(index = deleteIndex).copy()
print(filterFile)

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type]
Index: []

In [48]:
deleteIndex = []
count = 0
for i in filterFile.index:
    for j in range(count, len(baseFile)):
        if addedSP[i] >= baseSP[j] and addedEP[i] <= baseEP[j] and addedSP[i] < baseEP[j]:
            if addedTxt[i] in baseTxt[j]:
                deleteIndex.append(i)
                count += 1
                break

In [49]:
print(deleteIndex)

[]

In [50]:
doubleFilterFile = filterFile.drop(index = deleteIndex).copy()
print(doubleFilterFile)

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type]
Index: []

In [51]:
deleteIndex = []
count = 0
for i in doubleFilterFile.index:
    for j in range(count, len(baseFile)):
        if baseSP[j] >= addedSP[i] and baseEP[j] <= addedEP[i] and baseSP[j] < addedEP[i]:
            if baseTxt[j] in addedTxt[i]:
                deleteIndex.append(i)
                count += 1
                break

In [52]:
print(deleteIndex)

[]

In [53]:
tripleFilterFile = doubleFilterFile.drop(index = deleteIndex).copy()
print(tripleFilterFile)

Empty DataFrame
Columns: [article_id, start_position, end_position, entity_text, entity_type]
Index: []

In [54]:
mergeFile = pd.concat([baseFile, tripleFilterFile])
mergeFile = mergeFile.sort_values(['article_id','start_position'])
mergeFile = mergeFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']].reset_index(drop=True)
print(mergeFile)

      article_id  start_position  end_position entity_text entity_type
0              0             198           200          新樓    location
1              0             227           229          麻豆    location
2              0             237           239          麻豆    location
3              0             295           297          今年        time
4              1              31            33          今天        time
...          ...             ...           ...         ...         ...
3370         158            1082          1086        第三個月        time
3371         158            1113          1116         下個月        time
3372         158            1143          1145          今天        time
3373         158            1199          1201          小安        name
3374         158            1380          1390  A124699678          ID

[3375 rows x 5 columns]

In [55]:
# def lenless1(row):
#     if len(row)==1:
#         return False
#     else:
#         return True
# mergeFile['split'] = mergeFile['entity_text'].apply(lenless1, 1)
# mergeFile = mergeFile[mergeFile['split']]

# mergeFile = mergeFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']]

In [56]:
def lenless1(row):
    if row=='OK' or row=='我' or row=='ＰＲＯＴＥＩＮ' or row == '一百八十公':
        return False
    else:
        return True
mergeFile['split'] = mergeFile['entity_text'].apply(lenless1, 1)
mergeFile = mergeFile[mergeFile['split']]
mergeFile = mergeFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']]
mergeFile

      article_id  start_position  end_position entity_text entity_type
0              0             198           200          新樓    location
1              0             227           229          麻豆    location
2              0             237           239          麻豆    location
3              0             295           297          今年        time
4              1              31            33          今天        time
...          ...             ...           ...         ...         ...
3370         158            1082          1086        第三個月        time
3371         158            1113          1116         下個月        time
3372         158            1143          1145          今天        time
3373         158            1199          1201          小安        name
3374         158            1380          1390  A124699678          ID

[3375 rows x 5 columns]

In [57]:
def lenless1(row):
    if row in ['禮拜', '一萬三左', '百塊','眼前','HELL','UANG', 'ok', 'ＯＫ', 'Ok', '前二後二','國外原','0點','現在冬天', '2次','百七']:
        return False
    else:
        return True
mergeFile['split'] = mergeFile['entity_text'].apply(lenless1, 1)
mergeFile = mergeFile[mergeFile['split']]
mergeFile = mergeFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']]

In [58]:
def lenless1(row):
    if row in ['8點幾', '9點幾', '10點多','禮拜二早']:
        return False
    else:
        return True
mergeFile['split'] = mergeFile['entity_text'].apply(lenless1, 1)
mergeFile = mergeFile[mergeFile['split']]
mergeFile = mergeFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']]
mergeFile

      article_id  start_position  end_position entity_text entity_type
0              0             198           200          新樓    location
1              0             227           229          麻豆    location
2              0             237           239          麻豆    location
3              0             295           297          今年        time
4              1              31            33          今天        time
...          ...             ...           ...         ...         ...
3370         158            1082          1086        第三個月        time
3371         158            1113          1116         下個月        time
3372         158            1143          1145          今天        time
3373         158            1199          1201          小安        name
3374         158            1380          1390  A124699678          ID

[3375 rows x 5 columns]

In [59]:
mergeFile.to_csv("merge2_all.tsv", sep = '\t', index = None, encoding = 'utf-8')

以上。

addition.

In [108]:
newbaseID = []
newbasePosition = []
newbaseTxt = []
newbaseType = []
for i in range(len(baseID)):
    for j in range(baseSP[i], baseEP[i]+1):
        newbaseID.append(baseID[i])
        newbasePosition.append(j)
        newbaseTxt.append(baseTxt[i])
        newbaseType.append(baseType[i])
newbaseFile = pd.DataFrame({'article_id': newbaseID, 'position': newbasePosition, 'entity_text':newbaseTxt,'entity_type': newbaseType})
print(newbaseFile)
newbaseFile = newbaseFile.values.tolist()

       article_id  position entity_text entity_type
0               0       198          新樓    location
1               0       199          新樓    location
2               0       200          新樓    location
3               0       227          麻豆    location
4               0       228          麻豆    location
...           ...       ...         ...         ...
15817         158      1389           8     contact
15818         158      1390           8     contact
15819         158      1489          明年        time
15820         158      1490          明年        time
15821         158      1491          明年        time

[15822 rows x 4 columns]

In [109]:
newaddedID = []
newaddedPosition = []
newaddedTxt = []
newaddedType = []
for i in range(len(addedID)):
    for j in range(addedSP[i], addedEP[i]+1):
        newaddedID.append(addedID[i])
        newaddedPosition.append(j)
        newaddedTxt.append(addedTxt[i])
        newaddedType.append(addedType[i])
newaddedFile = pd.DataFrame({'article_id': newaddedID, 'position': newaddedPosition, 'entity_text': newaddedTxt,'entity_type': newaddedType})
print(newaddedFile)
newaddedFile = newaddedFile.values.tolist()

      article_id  position entity_text entity_type
0              0         3          最近        time
1              0         4          最近        time
2              0         5          最近        time
3              0        36          年底        time
4              0        37          年底        time
...          ...       ...         ...         ...
8304         158      1354          今天        time
8305         158      1355          今天        time
8306         158      1489          明年        time
8307         158      1490          明年        time
8308         158      1491          明年        time

[8309 rows x 4 columns]

In [110]:
for j in newbaseFile:
    if j in newaddedFile:
        newaddedFile.remove(j)
print(len(newaddedFile))

5059

In [111]:
filterData = pd.DataFrame(newaddedFile, columns=['article_id',  'position', 'entity_text', 'entity_type'])
article_id = filterData['article_id']
entity_text = filterData['entity_text']
entity_type = filterData['entity_type']
position = filterData['position']

artID = []
eText = []
eType = []
sPos = []
ePos = []

nowText = entity_text[0]
artID.append(article_id[0])
eText.append(entity_text[0])
eType.append(entity_type[0])
sPos.append(position[0])

count = 0
allCount = 0
for i in range(1, len(filterData)):
    if entity_text[i] == nowText:
        count += 1
    else:
      nowText = entity_text[i]
      artID.append(article_id[i])
      eText.append(entity_text[i])
      eType.append(entity_type[i])
      sPos.append(position[i])
      ePos.append(sPos[allCount] + len(entity_text[i-1]))
      allCount += 1
      count = 1
ePos.append(sPos[allCount] + len(entity_text[i]))
newfile = pd.DataFrame({'article_id': artID, 'entity_text': eText, 'start_position':sPos, 'end_position':ePos, 'entity_type': eType})
print(newfile)

      article_id entity_text  start_position  end_position entity_type
0              0          最近               3             5        time
1              0          年底              36            38        time
2              0          今天             113           115        time
3              0          等下             255           257        time
4              0          最近             275           277        time
...          ...         ...             ...           ...         ...
1190         157         一下午            3705          3708        time
1191         157           一            3736          3737        time
1192         157           禮            3753          3754        time
1193         158          現在             510           512        time
1194         158          今天            1353          1355        time

[1195 rows x 5 columns]

In [112]:
mergeFile = pd.concat([baseFile, newfile])
mergeFile = mergeFile.sort_values(['article_id','start_position'])
mergeFile = mergeFile[['article_id', 'start_position', 'end_position', 'entity_text', 'entity_type']].reset_index(drop=True)
print(mergeFile)
mergeFile.to_csv("merge_all.tsv", sep = '\t', index = None, encoding = 'utf-8')

      article_id  start_position  end_position entity_text entity_type
0              0               3             5          最近        time
1              0              36            38          年底        time
2              0             113           115          今天        time
3              0             198           200          新樓    location
4              0             227           229          麻豆    location
...          ...             ...           ...         ...         ...
5082         158            1385          1386           9    med_exam
5083         158            1387          1388           6          ID
5084         158            1388          1390          78    med_exam
5085         158            1389          1390           8     contact
5086         158            1489          1491          明年        time

[5087 rows x 5 columns]

In [116]:
m_article_id = []
m_start_position = []
m_end_position = []
m_entity_text = []
m_entity_type = []

for i in range(len(mergeFile)):
  if len(mergeFile['entity_text'].iloc[i]) > 1:
    m_article_id.append(mergeFile.iloc[i]['article_id'])
    m_start_position.append(mergeFile.iloc[i]['start_position'])
    m_end_position.append(mergeFile.iloc[i]['end_position'])
    m_entity_text.append(mergeFile.iloc[i]['entity_text'])
    m_entity_type.append(mergeFile.iloc[i]['entity_type'])

cleanMergeFile = pd.DataFrame({'article_id': m_article_id, 'start_position': m_start_position, 'end_position': m_end_position, 'entity_text': m_entity_text, 'entity_type': m_entity_type})
cleanMergeFile.to_csv("cleanMerge_all.tsv", sep = '\t', index = None, encoding = 'utf-8')